.background-video {
    position: absolute;
    overflow: hidden;
    right: 0;
    object-fit: cover;
    width: auto;
    min-width: 100%;
    height: 100%;
    z-index: -1000;
}

.bigCircle {
    position: absolute;
    top: 138px;
    left: 238px;
    width: 708px;
    height: 708px;
    background: linear-gradient(180deg, rgba(190, 199, 230, 0.37) 0%, rgba(115, 115, 115, 0) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -999;
}

.smallCircle {
    width: 540px;
    height: 540px;
    background: linear-gradient(180deg, rgba(190, 199, 230, 0.37) 0%, rgba(115, 115, 115, 0) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.title {
    font-size: 96px;
    font-weight: 600;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap; 
    border-right: 3px solid white;
    animation: typing 1.5s steps(40, end) forwards, blink-caret 1.5s step-end forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    100%, 100% { border-color: transparent; }
    50% { border-color: white; }
}

@keyframes slideInFromLeft {
    from {
        transform: translateY(1000%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    } 
}

.divider {
    width: 278px;
    height: 1px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: typing 1.5s steps(40, end) forwards;
}

.subtitle {
    font-size: 24px;
    color: #FFFFFF;
    max-width: 400px;
    animation: slideInFromLeft 1s;
}

.title, .subtitle, .button {
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.button {
    width: 206px;
    height: 54px;
    background-color: #BEC7E6;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
    animation: slideInFromLeft 1.5s;

    &:hover {
        background-color: #A5B1D6;
    }
}