.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.register-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.register-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.register-form-title {
    font-size: 30px;
    font-weight: 600;
    max-width: 333px;
}

.register-form-subtitle {
    font-size: 14px;
    font-weight: 500;
}

.register-form-input {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 333px;
}

.input {
    height: 33px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.double-input {
    width: 333px;
    display: flex;
    gap: 11px;
    flex-direction: row;
}

.double-input .input {
    width: calc(50% - 5.5px);
}

.register-button {
    width: 333px;
    height: 33px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .register-image{
        display: none;
    }

    .register-form {
        width: 100%;
    }
}